upstream backend {
{% for host in groups['web'] %}
    server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:8080;
{% endfor %}
}

server {
    listen 80;
    server_name  ~^.*$;

    location / {
        proxy_pass http://backend/;
    }
}
